.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: $cinza;
  padding: 30px 0;
  text-align: center;
  p {
    @include tipo-1(p);
    color: $bege-claro;
    line-height: 2;
    @include d(p) {
      font-size: 1rem;
    }
  }
  @include d(p) {
    gap: 20px;
  }
  img {
    max-width: 100px;
  }
}
